<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Shop</li>
            </ul>
            <h1>Products Lists</h1>
        </div>
    </div>
</div>

<!-- Products -->
<div class="products-area ptb-100">
    <div class="container">
        <div class="edla-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-6 result-count">
                <p>We found <span class="count">12</span> products available for you</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products1.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                        <span class="sale">Sale</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Black Men's T-Shirt</a></h3>
                        <div class="price">
                            <span class="new-price">$412.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products2.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Floating Paper Bag</a></h3>
                        <div class="price">
                            <span class="new-price">$320.85</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products3.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Sports Cap Black</a></h3>
                        <div class="price">
                            <span class="new-price">$211.99</span>
                            <span class="old-price">$500.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products4.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                        <span class="out-of-stock">Out of Stock</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Covid Smart Mask</a></h3>
                        <div class="price">
                            <span class="new-price">$121.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products5.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Black Coffee Mug</a></h3>
                        <div class="price">
                            <span class="new-price">$412.00</span>
                            <span class="old-price">$1000.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products6.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                        <span class="hot">Hot</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Kids School Bag</a></h3>
                        <div class="price">
                            <span class="new-price">$541.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products7.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Eco Smart Headphone</a></h3>
                        <div class="price">
                            <span class="new-price">$84.55</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products8.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Smart Watch</a></h3>
                        <div class="price">
                            <span class="new-price">$555.47</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products9.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                        <span class="sale">Sale</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Leather Backpack</a></h3>
                        <div class="price">
                            <span class="new-price">$412.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products10.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Coffee Mag</a></h3>
                        <div class="price">
                            <span class="new-price">$320.85</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products11.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Sports Jersey</a></h3>
                        <div class="price">
                            <span class="new-price">$211.99</span>
                            <span class="old-price">$500.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-products-box">
                    <div class="image">
                        <a routerLink="/product-details" class="d-block">
                            <img src="assets/img/products/products12.jpg" alt="products-image">
                        </a>
                        <button type="submit" class="default-btn">Add to Cart</button>
                        <span class="out-of-stock">Out of Stock</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/product-details">Black Mask</a></h3>
                        <div class="price">
                            <span class="new-price">$121.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/products" class="prev page-numbers">prev</a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/products" class="page-numbers">2</a>
                        <a routerLink="/products" class="page-numbers">3</a>
                        <a routerLink="/products" class="next page-numbers">next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>