<div class="kc-overview-area">
    <div class="container">
        <div class="kc-overview-inner-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="kc-overview-image">
                        <img src="assets/img/kitchen-coach/book-mockup.png" alt="book-mockup">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="kc-overview-content">
                        <h2>Stress-Free recipes to cook for and with your family</h2>
                        <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                        <div class="overview-btn">
                            <a href="javascript:void(0)" class="default-btn">Download Free Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kc-overview-shape">
                <img src="assets/img/kitchen-coach/overview-shape.png" alt="image">
            </div>
        </div>
    </div>
</div>