<div class="courses-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Popular project management courses</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
            <a routerLink="/courses-grid" class="default-btn">View All Courses</a>
        </div>
        <div class="courses-tabs">
            <mdb-tabs>
                <mdb-tab title="All Courses">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Agile Project Management; Agile Delivery</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Trello Project Management: Complete Course</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Scrum Master PSM 1 - Scrum Master Certification</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Deliver Your Project & Master Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Agile PM 102 - What Is The Future of Agile Project Mgmt?</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Comparing Agile vs Waterfall Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Trending">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Agile Project Management; Agile Delivery</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Trello Project Management: Complete Course</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Agile PM 102 - What Is The Future of Agile Project Mgmt?</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Comparing Agile vs Waterfall Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Featured">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Trello Project Management: Complete Course</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Scrum Master PSM 1 - Scrum Master Certification</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Deliver Your Project & Master Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Comparing Agile vs Waterfall Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Popularity">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Deliver Your Project & Master Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Agile PM 102 - What Is The Future of Agile Project Mgmt?</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/vendor-certification/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/blog-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/blog-details">Comparing Agile vs Waterfall Project Management</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabs>
        </div>
    </div>
</div>