<div class="courses-area pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Top JavaScript courses in Web Development</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img21.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">JavaScript: Understanding the Weird Parts</a></h3>
                        <a routerLink="/profile" class="author">Jason Smith</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(1,600)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$99</span>
                            <span class="old-price">$199</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img22.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Modern JavaScript From The Beginning</a></h3>
                        <a routerLink="/profile" class="author">Sarah Taylor</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">4.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,100)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$69</span>
                            <span class="old-price">$89</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img23.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">JavaScript: The Advanced Concepts (2024)</a></h3>
                        <a routerLink="/profile" class="author">David Warner</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">3.5</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,800)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img24.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">20 Web Projects With Vanilla JavaScript</a></h3>
                        <a routerLink="/profile" class="author">Jasica Lora</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(550)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$49</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box inline" data-tipped-options="inline: 'tooltip-courses-1'">
                    <div class="image">
                        <img src="assets/img/courses/courses-img1.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">The Complete 2024 Web Development</a></h3>
                        <a routerLink="/profile" class="author">Jason Smith</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(1,600)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$99</span>
                            <span class="old-price">$199</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img2.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Hands-on Artificial Neural Networks</a></h3>
                        <a routerLink="/profile" class="author">Sarah Taylor</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">4.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,100)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$69</span>
                            <span class="old-price">$89</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img3.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">The Data Science Complete Courses 2024</a></h3>
                        <a routerLink="/profile" class="author">David Warner</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">3.5</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,800)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$39</span>
                            <span class="old-price">$59</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img4.jpg" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Agile Crash Course: Project Management</a></h3>
                        <a routerLink="/profile" class="author">Jasica Lora</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(550)</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="new-price">$49</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>