<div class="rt-courses-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Training Subjects To Suit You</h2>
        </div>
        <div class="courses-tabs-style-two">
            <mdb-tabs>
                <mdb-tab title="All">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 – The Complete Vue JS Guide for beginers</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jennifer Loren</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$22</span>
                                        <span class="new-price">$15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Agile Crash Course: Project Management</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user3.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jane Ronan</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$32</span>
                                        <span class="new-price">$12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Node.js for Beginners: Zero to Hero Course</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user4.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Angela Carter</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">3.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$45</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Modern JavaScript From The Beginning</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user5.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Sarah Dodie</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$30</span>
                                        <span class="new-price">$25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user6.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jason Smith</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Hands-on Artificial Neural Networks</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user7.jpg" alt="image">
                                        <span>By <a routerLink="/profile">David Warner</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$65</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 - The Complete Guide Vue</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Mason Ramos</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Web Development">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 – The Complete Vue JS Guide for beginers</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jennifer Loren</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$22</span>
                                        <span class="new-price">$15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Agile Crash Course: Project Management</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user3.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jane Ronan</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$32</span>
                                        <span class="new-price">$12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Node.js for Beginners: Zero to Hero Course</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user4.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Angela Carter</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">3.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$45</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Digital Marketing">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Modern JavaScript From The Beginning</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user5.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Sarah Dodie</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$30</span>
                                        <span class="new-price">$25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user6.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jason Smith</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Hands-on Artificial Neural Networks</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user7.jpg" alt="image">
                                        <span>By <a routerLink="/profile">David Warner</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$65</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 - The Complete Guide Vue</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Mason Ramos</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Web Design">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 – The Complete Vue JS Guide for beginers</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jennifer Loren</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$22</span>
                                        <span class="new-price">$15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Hands-on Artificial Neural Networks</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user7.jpg" alt="image">
                                        <span>By <a routerLink="/profile">David Warner</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$65</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 - The Complete Guide Vue</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Mason Ramos</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Programming">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 – The Complete Vue JS Guide for beginers</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">The Complete 2021 Web Development</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jennifer Loren</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$22</span>
                                        <span class="new-price">$15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Agile Crash Course: Project Management</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user3.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jane Ronan</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$32</span>
                                        <span class="new-price">$12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 - The Complete Guide Vue</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Mason Ramos</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Data Science">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Agile Crash Course: Project Management</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user3.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Jane Ronan</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">4.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$32</span>
                                        <span class="new-price">$12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Node.js for Beginners: Zero to Hero Course</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user4.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Angela Carter</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">3.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$45</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Modern JavaScript From The Beginning</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user5.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Sarah Dodie</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$30</span>
                                        <span class="new-price">$25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="rt-single-courses-box">
                                <div class="image">
                                    <img src="assets/img/remote-training/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Vue JS 3 - The Complete Guide Vue</a></h3>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Mason Ramos</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$55</span>
                                        <span class="new-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabs>
        </div>
        <div class="view-all-courses-btn">
            <a routerLink="/courses-grid" class="default-btn">
                View All Courses
                <img src="assets/img/remote-training/arrow-right.svg" alt="image">
            </a>
        </div>
    </div>
    <div class="rt-courses-shape1">
        <img src="assets/img/remote-training/courses/shape1.png" alt="image">
    </div>
    <div class="rt-courses-shape2">
        <img src="assets/img/remote-training/courses/shape2.png" alt="image">
    </div>
</div>