<div class="oa-classes-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Browse Our Online Art Classes</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
            <a routerLink="/courses-grid" class="default-btn">View All Courses</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="oa-classes-slides">
            <owl-carousel-o [options]="classesSlides">
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes1.jpg);">
                                    <img src="assets/img/online-art/classes/classes1.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Water Color Paint</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes2.jpg);">
                                    <img src="assets/img/online-art/classes/classes2.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Splash Watercolor</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$77</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes1.jpg);">
                                    <img src="assets/img/online-art/classes/classes1.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Water Color Paint</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes2.jpg);">
                                    <img src="assets/img/online-art/classes/classes2.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Splash Watercolor</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$77</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes1.jpg);">
                                    <img src="assets/img/online-art/classes/classes1.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Water Color Paint</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$62</span>
                                        <span class="new-price">$32</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="oa-classes-card">
                        <div class="row m-0">
                            <div class="col-lg-7 col-md-6 p-0">
                                <div class="oa-classes-image" style="background-image: url(assets/img/online-art/classes/classes2.jpg);">
                                    <img src="assets/img/online-art/classes/classes2.jpg" alt="classes-image">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="oa-classes-content">
                                    <h3><a routerLink="/courses-details">Splash Watercolor</a></h3>
                                    <p><b>Edla</b> is a Global training provider based across the UK that specialis.</p>
                                    <div class="author d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="image">
                                        <span>By <a routerLink="/profile">Andrew Watson</a></span>
                                    </div>
                                    <div class="rating">
                                        <div class="d-flex align-items-center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="old-price">$77</span>
                                        <span class="new-price">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="oa-classes-shape">
        <img src="assets/img/online-art/classes/shape.png" alt="image">
    </div>
</div>