<div class="widget">
    <h3 class="widget-title"><span>Filter by Category</span></h3>
    <ul class="filter-checkbox-list">
        <li><a href="javascript:void(0)">Data Science <span>(2)</span></a></li>
        <li><a href="javascript:void(0)">Development <span>(4)</span></a></li>
        <li><a href="javascript:void(0)">Marketing <span>(5)</span></a></li>
        <li><a href="javascript:void(0)">Art & Design <span>(8)</span></a></li>
        <li><a href="javascript:void(0)">Health & Fitness <span>(9)</span></a></li>
        <li><a href="javascript:void(0)">Business <span>(10)</span></a></li>
        <li><a href="javascript:void(0)">Lifestyle <span>(1)</span></a></li>
        <li><a href="javascript:void(0)">Photography <span>(7)</span></a></li>
        <li><a href="javascript:void(0)">IT & Software <span>(4)</span></a></li>
        <li><a href="javascript:void(0)">Network <span>(6)</span></a></li>
        <li><a href="javascript:void(0)">Web Dev <span>(4)</span></a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title"><span>Filter by Instructor</span></h3>
    <ul class="filter-checkbox-list">
        <li><a href="javascript:void(0)">Alina Smith <span>(2)</span></a></li>
        <li><a href="javascript:void(0)">Jason Roy <span>(4)</span></a></li>
        <li><a href="javascript:void(0)">Dawid Malan <span>(5)</span></a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title"><span>Filter by Price</span></h3>
    <ul class="filter-checkbox-list">
        <li><a href="javascript:void(0)">All <span>(16)</span></a></li>
        <li><a href="javascript:void(0)">Free <span>(2)</span></a></li>
        <li><a href="javascript:void(0)">Paid <span>(14)</span></a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title"><span>Filter by Level</span></h3>
    <ul class="filter-checkbox-list">
        <li><a href="javascript:void(0)">All <span>(16)</span></a></li>
        <li><a href="javascript:void(0)">Beginner <span>(2)</span></a></li>
        <li><a href="javascript:void(0)">Intermediate <span>(14)</span></a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title"><span>Filter by Rating</span></h3>
    <ul class="filter-checkbox-list">
        <li>
            <a href="javascript:void(0)">
                <div class="review-stars">
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                </div>
                <span>(5)</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <div class="review-stars">
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <span>(4)</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <div class="review-stars">
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <span>(3)</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <div class="review-stars">
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <span>(2)</span>
            </a>
        </li>
        <li class="disabled">
            <a href="javascript:void(0)">
                <div class="review-stars">
                    <i class='bx bxs-star checked'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <span>(0)</span>
            </a>
        </li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title"><span>Filter by Duration</span></h3>
    <ul class="filter-checkbox-list">
        <li><a href="javascript:void(0)">Less than 3 hours <span>(2)</span></a></li>
        <li><a href="javascript:void(0)">5 - 8 hours <span>(8)</span></a></li>
        <li><a href="javascript:void(0)">15+ hours <span>(6)</span></a></li>
    </ul>
</div>
<div class="widget widget_media_image">
    <a routerLink="/courses-details" class="d-inline-block">
        <img src="assets/img/advertisement.jpg" alt="advertisement">
    </a>
</div>