<div class="footer-area"
  [ngClass]="{'bg-black': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
  <div class="container">
    <div class="row">

      <!-- Logo + Description -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-footer-widget"
          [ngClass]="{'white-color': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
          <a routerLink="/" class="logo d-inline-block"
            [ngClass]="{'d-none': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
            <img src="assets/img/logo.png" alt="Prologic">
          </a>
          <a routerLink="/" class="logo d-none"
            [ngClass]="{'d-inline-block': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
            <img src="assets/img/logo.png" alt="Prologic">
          </a>
          <p>
            Prologic, expert en solutions IT et formation professionnelle depuis 1995.
            Votre partenaire de confiance pour la transformation digitale en Tunisie et en Afrique.
          </p>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/prologic.tn" target="_blank">
                <i class='bx bxl-facebook'></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/prologic-tunisie" target="_blank">
                <i class='bx bxl-linkedin'></i>
              </a>
            </li>
            <li>
              <a href="https://www.prologic.com.tn" target="_blank">
                <i class='bx bx-globe'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- À propos -->
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget pl-1"
          [ngClass]="{'white-color': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
          <h3>Prologic</h3>
          <ul class="custom-links">
            <li><a routerLink="/about-us">À Propos de Nous</a></li>
            <li><a routerLink="/contact">Contactez-Nous</a></li>
            <li><a href="https://www.prologic.com.tn" target="_blank">Site Web Officiel</a></li>
          </ul>
        </div>
      </div>

      <!-- Liens rapides -->
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="single-footer-widget pl-1"
          [ngClass]="{'white-color': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
          <h3>Formations</h3>
          <ul class="custom-links">
            <li><a routerLink="/profile-authentication">Connexion</a></li>
            <li><a routerLink="/profile-authentication">S'inscrire</a></li>
          </ul>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget"
          [ngClass]="{'white-color': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
          <h3>Contact Us</h3>
          <ul class="footer-contact-info">
            <li>
              <span>Adresse:</span>
              2, Rue Apollo XI - 1082 Tunis - MAHRAJENE
            </li>
            <li>
              <span>Email:</span>
              <a href="mailto:prologic&#64;prologic.com.tn">prologic&#64;prologic.com.tn</a>
            </li>
            <li>
              <span>Téléphone:</span>
              <a href="tel:+21671155500">(216) 71 155.500</a>
            </li>
            <li>
              <span>Web:</span>
              <a href="https://www.prologic.com.tn" target="_blank">www.prologic.com.tn</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Copyright -->
    <div class="copyright-area"
      [ngClass]="{'white-color': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
      <p>
        Copyright <span>Prologic</span> © {{ currentYear }}. Tous droits réservés.
        <a href="https://www.prologic.com.tn" target="_blank">www.prologic.com.tn</a>
      </p>
    </div>
  </div>

  <div class="shape7"
    [ngClass]="{'d-none': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
    <img src="assets/img/logo.png">
  </div>
  <div class="lines d-none"
    [ngClass]="{'d-block': router.url === '/vendor-certification-etraining' || router.url === '/distance-learning' || router.url === '/online-education-courses' || router.url === '/online-art-learning'}">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>